#content p {
    text-align: center;
    width: 100%;
    max-width: 460px;
    color: #0089ff;
    font-size: 20px;
    margin:	auto;
    display: block;
}

.navbar {
    margin-bottom: 0;
}

.jumbotron {
    margin-bottom: 20px;
}

.jumbotron h1 {
    text-align: center; 
}
#content-holder {
    margin-top: 0;
}

#content {
    margin-top: 40px;
    padding: 0;
}

#content div{
	margin-top: 50px;
}

#content li {
	text-align: left;
}

.contacts {
	margin:auto;
	width: 300px;
}

.glyphicon {
	padding-right: 10px;
}